---
import BaseLayout from '../layouts/_BaseLayouts.astro';
import {sortByDate} from '../js/sort.js';

const allPosts = await Astro.glob("./article/*.md");
---
	
<BaseLayout
	pageTitle='srkkr.com'
>
	<nav  class="article_list">
		<ul>
			{
        allPosts.sort(sortByDate).map((post) => (
          <li><a href={post.url}>
            <time datetime="{post.frontmatter.pubDate}">{post.frontmatter.pubDate}</time>
            <h1 class="article_title">{post.frontmatter.title}</h1>
          </a></li>
        ))
			}
		</ul>
	</nav>
</BaseLayout>
